.container{
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
ul{
  padding: 0px;
  margin: 0px;
}
li{
  list-style: none;
}
.clr{
  clear: both;
}
.checkers{
  float: left;
  width: 50px;
  height: 50px;
  background: #000;

}
li:nth-child(odd) .checkers:nth-child(odd)
{
  /*background: #000;*/
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
}
li:nth-child(odd) .checkers:nth-child(even)
{
  background: #FFF;
}
li:nth-child(even) .checkers:nth-child(odd)
{
  background: #FFF;
}
li:nth-child(even) .checkers:nth-child(even)
{
  /*background: #000;*/
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
